#root {
  height: 100dvh;
  width: 100vw;
  padding: 1em;
  box-sizing: border-box;
}

.puzzle-container {
  height: 100%;
  max-width: 42rem;

  display: flex;
  flex-direction: column;
  /* gap: 3rem; */
  /* padding: 1em; */
  margin: 0px auto;
  
  border: 1px solid rgb(136, 139, 143);
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

.puzzle-header {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;

  padding: 1.5em;
  border-bottom: 1px solid grey;
}

.puzzle-header h1 {
  font-size: 2.5em;
  line-height: 1.1;
  margin: 0px 0px 0.5rem;
}

.puzzle-header p {
  font-size: 1.2em;
  line-height: 1;
  margin: 0px 0px 0.5rem;
}

.puzzle-content {
  flex: 1 1 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  overflow: hidden;
}

.puzzle {
  flex: 1 1 auto;
  background-color: whitesmoke;
  padding: 1em;
  text-align: start;

  overflow-y: auto;

  word-break: keep-all;
  overflow-wrap: break-word;
  hyphens: none;
  white-space-collapse: preserve;

  font-family: var(--mono-font);
  font-size: 1.5rem;
  word-spacing: -0.1em;
}

.guess-wrong {
  background-color: rgba(255, 0, 0, 0.1);
  /* border: 1px solid red; */
  border-radius: var(--border-radius);
  padding: 0.5em 1em;
  /* font-weight: 500; */
  color: rgb(150, 0, 0);
  text-align: center;
}

.puzzle-score {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.puzzle-score progress {
  &::-webkit-progress-value {
    transition: width 0.25s ease-out;
  }
}

.highlight {
  background-color: rgba(255, 255, 0, 0.2);
  padding: 3px 3px;
  margin: -3px -3px;
  /* padding: .125rem .25rem; */
  border-radius: 4px;
  cursor: pointer;

  /* transition: all 0.2s linear; */
}

.highlight.hint {
  background-color: rgba(255, 187, 0, 0.2);
}

.correct {
  background-color: rgba(0, 255, 0, 0.2);
  padding: 3px 0px;
  margin: -3px 0px;
  border-radius: 4px;
}

@media (max-width: 640px) {
  #root {
    padding: 0;
  }

  .puzzle-container {
    border: none;
    border-radius: 0;
  }

  .puzzle {
    font-size: 1.25rem;
  }
}