#root {
  height: 100dvh;
  width: 100vw;
  padding: 1em;
  box-sizing: border-box;
}

.puzzle-container {
  height: 100%;
  max-width: 42rem;

  display: flex;
  flex-direction: column;
  /* gap: 3rem; */
  /* padding: 1em; */
  margin: 0px auto;

  border: 1px solid rgb(136, 139, 143);
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

.puzzle-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* gap: 1rem; */

  padding: 0.75em;
  padding-top: 1.5em;
  border-bottom: 1px solid grey;
  font-family: var(--header-font);
}

.pagination {
  display: flex;
  flex-direction: row;
  cursor: default;
  user-select: none;

  gap: 0.25em;
}

.pagination-arrow {
  border: none;
  border-radius: 4px;
  background: none;
  cursor: pointer;

  /* for visual alignment */
  transform: translateY(2px);
}

.pagination-dot {
  color: grey;
  /* font-size: ; */
}

.pagination-dot.active {
  color: black;
}

.puzzle-header h1 {
  font-size: 2.5em;
  line-height: 1.1;
  margin: 0px 0px 0.5rem;
}

.puzzle-header p {
  font-size: 1.2em;
  line-height: 1;
  margin: 0px 0px 0.5rem;
}

.puzzle-content {
  flex: 1 1 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  overflow: hidden;
}

.puzzle {
  flex: 1 1 auto;
  background-color: whitesmoke;
  padding: 1em;
  text-align: start;
  border-radius: var(--border-radius);

  overflow-y: auto;

  word-break: keep-all;
  overflow-wrap: break-word;
  hyphens: none;
  white-space-collapse: preserve;

  font-family: var(--mono-font);
  font-size: 1.25rem;
  word-spacing: 0.1em;
  letter-spacing: 0.01em;
  line-height: 1.75;

  /* transition: flex-grow 0.1s ease-out; */
}

.puzzle.finished {
  flex: 0 1 auto;
}

.guess-wrong {
  background-color: rgba(255, 0, 0, 0.1);
  border: 1px solid red;
  border-radius: var(--border-radius);
  padding: 0.5em 1em;
  /* font-weight: 500; */
  color: rgb(150, 0, 0);
  text-align: center;
}

.puzzle-score {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.puzzle-score progress {
  &::-webkit-progress-value {
    transition: width 0.25s ease-out;
  }
}

.bracket {
  padding: 3px 3px;
  margin: -3px -3px;
  border-radius: 4px;
}

/* evil hack to prevent hovering on parent when hovering on child */
.bracket.regular:hover:not(:has(.bracket:hover)) {
  background-color: rgba(0, 0, 0, 0.05);
}

.bracket.highlight {
  background-color: rgba(255, 255, 0, 0.2);
  cursor: pointer;
}

.bracket.hint {
  background-color: rgba(255, 187, 0, 0.2);
  cursor: pointer;
}

.bracket.correct {
  background-color: rgba(0, 255, 0, 0.2);
}

.puzzle-tutorial {
  background-color: rgba(0, 255, 85, 0.1);
  border-radius: var(--border-radius);
  padding: 1em 1em;
  color: rgb(0, 104, 59);
  border: 1px solid rgb(0, 230, 130);
  text-align: center;
}

@media (max-width: 640px) {
  #root {
    padding: 0;
  }

  .puzzle-container {
    border: none;
    border-radius: 0;
  }

  .puzzle {
    font-size: 1.25rem;
  }
}

.puzzle-stats {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.puzzle-continue {
  width: 100%;
}

.puzzle-share {
  background-color: rgb(48, 194, 199);
}